.container {
  display: flex;
  align-items: center;
  height: 50vh;
}

.trafficLightPair {
  flex: 1;
  position: relative;
  transform: rotateX(45deg) rotateZ(45deg);
  transform-style: preserve-3d;
}

.top {
  position: absolute;
  width: 180px;
  height: 180px;
  background-color: #222;
  transform-origin: 0 0;
  border-radius: 20px;
  transform: translate(-62px, -144px);
}

.lightwrapper {
  &.NorthSouth {
    position: absolute;
    transform: rotateX(-90deg);
    transform-origin: 0 23%;

    .trafficlight {
      &:after {
        margin-left: 124px;
      }
    }
  }

  &.EastWest {
    position: absolute;
    transform: rotateY(90deg) rotateZ(-90deg);
    transform-origin: 30% -20%;

    .trafficlight {
      &:after {
        margin-left: -6px;
        height: 497px;
      }
    }
  }
}

.trafficlight{
  background: #222;
  background-image: linear-gradient(transparent 2%, #111 2%, transparent 3%, #111 30%);
  width: 170px;
  height: 400px;
  border-radius: 20px;
  position: relative;
  border: solid 5px #333;

  &:after{
    background: #222;
    background-image: linear-gradient(-90deg, #222 0%, #444 30%, #000);
    content: "";
    width: 50px;
    height: 500px;
    margin-left: 60px;
    position: absolute;
    top: 150px;
    z-index: -1;
  }

  .light-bulb {
    background-size: 5px 5px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    opacity: 0.2;

    &.on {
      opacity: 1;
    }
  }

  .Red{
    background: red;
    background-image: radial-gradient(brown, transparent);
    position: absolute;
    top: 20px;
    left: 35px;
    border: dotted 2px red;
    box-shadow:
            0 0 20px #111 inset,
            0 0 10px red;
    .light-bulb;
  }

  .Yellow{
    background: yellow;
    background-image: radial-gradient(orange, transparent);
    border: dotted 2px yellow;
    top: 145px;
    left: 35px;
    box-shadow:
            0 0 20px #111 inset,
            0 0 10px yellow;
    .light-bulb;
  }

  .Green{
    background: green;
    background-image: radial-gradient(lime, transparent);
    border: dotted 2px lime;
    top: 270px;
    left: 35px;
    box-shadow:
            0 0 20px #111 inset,
            0 0 10px lime;
    .light-bulb;
  }
}

.infoPane {
  flex: 1;
}

